body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
}

form .error input {
	background-color: #F2DEDE;
	border-color: #EED3D7;
	color: #B94A48;
}

form .error .help-inline {
	color: #B94A48;
}

.providers {
	margin: 5px 0;
	list-style: none;
}

.providers li {
	display: inline;
}

.help-block {
	margin: 0 0 10px 0;
	font-size: 10px;
	color: #ccc !important;
}

h1 {
	margin-bottom: 20px !important;
}

.winner-result {
	text-align: center;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

.footer p {
	margin: 10px 50px;
}

.glyphicon.glyphicon-star-empty.democratic-bg {
	position: absolute;
	top: 125px;
	right: 100px;
	font-size: 250px;
	width: 30%;
	text-align: center;
	opacity: 0.05;
	z-index: -1;
}

.container-grid {
	min-height: 250px;
}

.logo {
	float: right;
	padding: 15px;
	font-size: 100px;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	z-index: 1;
}