@main(Messages("playauthenticate.verify.email.title")) {

	<h1>@Messages("playauthenticate.verify.email.title")</h1>
	<p>
		@Messages("playauthenticate.verify.email.requirement")<br>
		@Messages("playauthenticate.verify.email.cta")
	<br/>
	
	</p>
}
