@(convertForm: Form[models.MConverter], result: String = null)

@import helper._
@import helper.twitterBootstrap._
@import com.feth.play.module.pa.controllers

@main(Messages("app.title"), "mconverter") {
	<h1>@Messages("app.title")</h1>
	<!-- <h2><i class="glyphicon logo">$</i></h2> -->
	
	@if(convertForm.hasGlobalErrors) {
		<p class="alert alert-danger">
			@convertForm.globalError.message
		</p>
	 }
	@helper.form(action = routes.Application.convert(), 'class -> "form-horizontal") {
		@helper.input(convertForm("date"),
			'_label -> Messages("app.date")) { (id, name, value, args) =>
				<input id="@id" name="@name" value="@value" class="form-control" />
			}
			
		@helper.input(convertForm("from"),
			'size -> 3, 
			'_label -> Messages("app.from")) { (id, name, value, args) =>
				<input id="@id" name="@name" value="@value" class="form-control" />
			}
			
		@helper.input(convertForm("to"),
			'size -> 3, 
			'_label -> Messages("app.to")) { (id, name, value, args) =>
				<input id="@id" name="@name" value="@value" class="form-control" />
			}
			
		@helper.input(convertForm("value"),
			'size -> 100, 
			'_label -> Messages("app.value")) { (id, name, value, args) =>
				<input id="@id" name="@name" value="@value" class="form-control" />
			}

		@helper.input(convertForm("result"),
			'size -> 100, '_label -> "") { (id, name, value, args) =>
				<input type="hidden" id="@id" name="@name" value="@value" class="form-control" />
			}

		<h4 style="text-align: center;"><strong>@Messages("app.result")&#58;</strong> @result</h4>
		<br>
		
		<button type="submit" class="btn btn-success">@Messages("app.go")</button>
	}
}